.module.back.py-0.pt-1
    .container
        .row
            .col-12
                ul.breadcrumb
                    li
                        a(href='/salons')
                            span.icon-back-arrow
                            | Back to Search
                    li.active.d-none.d-sm-inline
                        span.divider
                            span.icon-right
                        | #{salon.city}