.marketing.text-white.d-block.d-md-flex.justify-content-center.text-center
    .sign-up
        if login
             p Don't have an account?
             a(href="/register").btn.btn-md.btn-white Sign up
        else
            p Already have an account?
            a(href="/login").btn.btn-md.btn-white Sign in
    .security.align-self-center
        h4 No more ques - Book it at the palm of your hands.
        p.mt-2.small Find your favorite beauty parlor
