.navbar-collapse.order-lg-1.collapse.show(id='header_nav_menu' style='')
    ul.navbar-nav.main-navbar-nav.mr-auto
        // Start: Search nav
        li.nav-item.listings-dropdown.dropdown
            a.nav-link(id='header_listings_menu_toggle' href='https://www.rentler.com/places-for-rent')
                span.dropdown-toggle-label Search Salons
        // End: Search nav
        // Start: Tenant nav
        li.nav-item.listings-dropdown.dropdown
            a.nav-link(id='header_listings_menu_toggle' href='/appointments')
                span.dropdown-toggle-label Bookings
        // End: Tenant nav
