header.module.header
    .container-fluid
        .d-flex.justify-content-between
            .logo-menu-wrapper
                a(href="/").logo Salon
                include middleheader
            include headercta
