section.hero__block
    .hero__block-bg
    .container
        .hero__block-body
            h1.hero__block-title Find Your Beauty Parlor
            form.hero__block-search
                fieldset
                    .form-row
                        .form-group
                            input#Location.form-control.form-control-md.plain(type='text' name='Location' className='' data-val-length-max='250' maxlength='250' autoComplete='off')
                            label.control-label.control-label-md Enter your City, Town
                        button.hero__block-search-submit.btn.btn-lg.btn-primary
                            span.text Search
                            i.fas.fa-search
