section.popular__block
    .container
        .row
            .col-12.col-lg-8
                h2 Salons in your favorite towns
            .text-right.mb-20
                a.btn.btn-link.btn-link-primary(href="/salons") See availability
    .container.container-tablet-fluid.container-mobile-fluid
