.select-wrap.mt-1.mb-1
    select(data-bind='orderby' data-bind-event-change='onSortingChange(this)')
        option(value='PriceDescending') Price: High - Low
        option(value='PriceAscending') Price: Low - High
