extends ./layout/layout

block content
    section.module.search-listing.d-xs-none.d-sm-block
        .loading
        .container
            .row
                .col-12
                    h1.gamma.search-results-title Your salon's appointments
                    p.zeta.search-result-text Total active appointments
            .row.search-list-items.mt-1