extends ./layout/layout

block content
    section.module.search-listing.d-xs-none.d-sm-block
        .loading
        .container
            .row
                .col-6.m-0-auto
                    h1.gamma.search-results-title Add your salon
                    p.zeta.search-result-text Start getting appointments today
            .row.search-list-items.mt-1
                .col-12
                    .w-100.d-flex.justify-content-center
                        .main-forms
                            include ./forms/listsalon
